@font-face {
  font-family: NexaBold;
  src: url("../NexaBold/nexabold.otf") format("opentype");
}
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:700');

@import 'flexboxgrid';
@import 'nav';
@import 'variables';
@import 'contact-form';
@import 'slider';
@import 'footer';
@import 'additional-info';
@import 'testimonials';
@import 'fade-slider';

body {
  padding: 0;
  margin: 0;
}

.row {
  padding: 0;
  margin: 0;
}

.logo-row {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 15px;
  img {
    width: 35%;
  }
}

.top-row {
  padding: 0 80px;
}



@media (max-width: 1266px) {
  .top-row {
    padding: 0 30px;
  }
}

@media (max-width: 1086px) {
  .top-row {
    padding: 0px;
  }
}

@media (max-width: 991px) {
  .top-row {
    display: none;
  }
}

@media (min-width: 992px) {
  .top-row-mobile {
    display: none;
  }
}

@media (max-width: 550px) {
  .logo-row {
    img {
      width: 80%;
    }
  }
}
