#slider {
  position: relative;
  overflow: hidden;
  margin: 10px auto 0px auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  // height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  width: 500px;
  text-align: center;
}


// Slider 2

#slider-2 {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 4px;
  min-height: 205px;
}

#slider-2 ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

#slider-2 ul li {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  img {
    width: 500px;
    border-radius: 4px;
  }
}


// Slider 3

#slider-3 {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 4px;
  min-height: 205px;
}

#slider-3 ul {
  position: relative;
  margin: 0;
  padding: 0;
  // height: 200px;
  list-style: none;
}

#slider-3 ul li {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  img {
    width: 500px;
    border-radius: 4px;
  }
}

// Slider-4
#slider-4 {
  position: relative;
  overflow: hidden;
  margin: 10px auto 0px auto;
  border-radius: 4px;
}

#slider-4 ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

#slider-4 ul li {
  position: relative;
  display: block;
  float: left;
  width: 500px;
  text-align: center;
}




// Slider 1 media queries

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

@media (max-width: 1177px) {
  #slider ul li {
    width: 400px;
  }
}

@media (max-width: 991px) {
  #slider ul li {
    width: 600px;
  }
}

@media (max-width: 530px) {
  #slider ul li {
    width: 400px;
  }
}

@media (max-width: 420px) {
  #slider ul li {
    width: 300px;
  }
}


// Slider 2 media queries

@media (max-width: 1171px) {
  #slider-2 ul li {
    img {
      width: 450px;
    }
  }
}

@media (max-width: 1025px) {
  #slider-2 ul li {
    img {
      width: 400px;
    }
  }
}

// Slider 3 media queries
@media (max-width: 400px) {
  #slider-3 {
    min-height: 150px;
  }
}

// Slider-4 media queries
@media (max-width: 991px) {
  #slider-4 ul li {
    width: 600px;
  }
}

@media (max-width: 900px) {
  #slider-4 ul li {
    width: 500px;
  }
}

@media (max-width: 770px) {
  #slider-4 ul li {
    width: 450px;
  }
}

@media (max-width: 650px) {
  #slider-4 ul li {
    width: 400px;
  }
}

@media (max-width: 600px) {
  #slider-4 ul li {
    width: 350px;
  }
}

@media (max-width: 500px) {
  #slider-4 ul li {
    width: 310px;
  }
}

@media (max-width: 399px) {
  #slider-4 ul li {
    width: 210px;
  }
}
