.testimonials {
  text-align: center;
  padding: 0 50px;
  .col-xs-12, .col-md-4 {
    padding: 40px;
  }
  h5, h6, p {
    font-family: "Helvetica Neue", Helvetica, Arial;
  }
  h5 {
    color: $dark-blue;
    font-size: 19px;
    margin-top: 30px;
    font-weight: normal;
  }
  h6 {
    color: $medium-blue;
    font-size: 22px;
    margin-top: -10px;
  }
  p {
    color: $light-blue;
    font-size: 20px;
    margin-top: -50px;
  }
  .border {
    display: none;
  }
}

@media (max-width: 1290px) {
  .testimonials {
    padding: 0 30px;
    .col-xs-12, .col-md-4 {
      padding: 0 20px;
    }
  }
}

@media (max-width: 1126px) {
  .testimonials {
    padding: 0 20px;
    .col-xs-12, .col-md-4 {
      padding: 0 10px;
    }
  }
}

@media (max-width: 991px) {
  .testimonials {
    padding: 0 50px;
    .col-xs-12, .col-md-4 {
      padding: 0 40px;
    }
    .border {
      display: block;
      height: 0;
      border: 1px solid $medium-blue;
      width: 50%;
      margin: 30px auto 0 auto;
    }
  }
}

@media (max-width: 518px) {
  .testimonials {
    padding: 0 30px;
    .col-xs-12, .col-md-4 {
      padding: 20px;
    }
  }
}

@media (max-width: 420px) {
  .testimonials {
    padding: 0 20px;
    .col-xs-12, .col-md-4 {
      padding: 10px;
    }
  }
}

@media (max-width: 350px) {
  .testimonials {
    padding: 0 10px;
    .col-xs-12, .col-md-4 {
      padding: 5px;
    }
  }
}
